<!-- Brand Logo -->
<a href="{{ path('admin_dashboard') }}" class="brand-link">
    <img src="{{ asset('assets/dashboard/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="{{ path('admin_dashboard') }}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Главная
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_dashboard.user_list') }}" class="nav-link">
                    <i class="nav-icon fas fa-users nav-icon"></i>
                    <p>
                        Пользователи
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_dashboard.news_list') }}" class="nav-link">
                    <i class="nav-icon fas fa-newspaper nav-icon"></i>
                    <p>
                        Новости
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cogs nav-icon"></i>
                    <p>
                        Настройки
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview" style="display: none;">
                    <li class="nav-item">
                        <a href="{{ path('admin_dashboard.settings.basic_settings_list') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Основные настройки</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview" style="display: none;">
                    <li class="nav-item">
                        <a href="{{ path('admin_dashboard.settings.news_types_list') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Типы новостей</p>
                        </a>
                    </li>
                </ul>
            </li>
{#            {% set sidebar_items = render_admin_sidebar() %}#}

{#            {% for sidebar_item in sidebar_items %}#}
{#                <li class="nav-item">#}
{#                    <a href="{{ path('admin_dashboard', {#}
{#                        'action': 'list',#}
{#                        'slug': sidebar_item.slug#}
{#                    }) }}" class="nav-link">#}
{#                        <i class="nav-icon far fa-circle nav-icon"></i>#}
{#                        <p>#}
{#                            {{ sidebar_item.title }}#}
{#                            <i class="right fas fa-angle-left"></i>#}
{#                        </p>#}
{#                    </a>#}
{#                </li>#}
{#            {% endfor %}#}
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->