{% extends 'front/theme_2/base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <section class="preview-section preview-block">
        <div class="center-wrapper">
            <div class="preview-section__inner">
                <a id="nPreviewLink" href="{{ path('front.counting_news_short_to_full', {
                    'news': article.id
                }) }}" title=""
                   target="_blank" class="article-preview">
                    <div class="article-preview__image">
                        <img src="{{ news_cropped_image_link }}" alt="">
                    </div>
                    <div id="nPreviewCapt" class="article-preview__title">{{ article.title }}</div>
                    <div class="article-preview__bottom-panel">
                        <div class="article-preview__read-more">Подробнее</div>
                    </div>
                </a>

                <aside class="sidebar hide-on-1000 right">
                    <div class="fints-line fints-line_aside">
                        {% for item in teasers | filter((v, k) => v.id != article.id) | slice(0, 2) %}
                            <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_vertical" target="_blank">
                                <div class="fint__image fint__image_vertical">
                                    <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                                </div>
                                <div class="fint__content fint__content_vertical">
                                    <div class="fint__title fint__title_vertical">{{ get_city(item.text, city) | raw }}</div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(2, 1) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_horizontal" target="_blank">
                            <div class="fint__image fint__image_horizontal">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_horizontal">
                                <div class="fint__title fint__title_horizontal">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </section>

    <section id="long-tail1" class="news_tail">
        <section class="tail-fragment tail-fragment_white decorated-bottom">
            <div class="center-wrapper">
                <div class="fints-line fints-line_of-3" id="firstRowEssential">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(3, 3) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_vertical fint_bordered {% if someCountValue == 1 %}hide-on-560{% endif %}" target="_blank">
                            <div class="fint__image fint__image_vertical">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_vertical">
                                <div class="fint__title fint__title_vertical">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = 0 %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="tail-fragment tail-fragment_white">
            <div class="center-wrapper">
                <div class="fints-line fints-line_of-4" id="secondRowEssential">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(6, 4) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_vertical fint_bordered {% if someCountValue == 1 %}hide-on-1000{% elseif someCountValue == 2 %}hide-on-560{% endif %}" target="_blank">
                            <div class="fint__image fint__image_vertical">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_vertical">
                                <div class="fint__title fint__title_vertical">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = someCountValue + 1 %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>

    {% set someCountVal = 10 %}
    {% set someLengthOfArray = (teasers | length) - someCountVal%}
    {% set someCountBlocks = (teasers | length) %}
    {% set blocks = someLengthOfArray // someCountVal %}

    {% if someLengthOfArray % someCountVal != 0 and someLengthOfArray > 13 %}
        {% set blocks = blocks + 1 %}
    {% elseif someLengthOfArray < 13 %}
        {% set blocks = 1 %}
    {% endif %}

    {% for i in range(1, blocks) %}

        <section class="tail-fragment first-repeat-row">
            <div class="center-wrapper">
                <div class="fints-line fints-line_of-3">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(someCountVal, 3) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_vertical {% if someCountValue == 1 %}hide-on-560{% endif %}">
                            <div class="fint__image fint__image_vertical">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_vertical">
                                <div class="fint__title fint__title_vertical">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = 0 %}
                    {% endfor %}
                    {% set someCountVal = someCountVal + 3 %}
                </div>

                <div class="fints fints_billet">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(someCountVal, 2) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_billet {% if someCountValue == 1 %}hide-on-1000{% endif %}">
                            <div class="fint__image fint__image_billet">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_billet">
                                <div class="fint__title fint__title_billet">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = 0 %}
                    {% endfor %}
                    {% set someCountVal = someCountVal + 2 %}
                </div>
                <div class="fints fints_billet">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(someCountVal, 2) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_billet {% if someCountValue == 1 %}hide-on-1000{% endif %}">
                            <div class="fint__image fint__image_billet">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_billet">
                                <div class="fint__title fint__title_billet">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = 0 %}
                    {% endfor %}
                    {% set someCountVal = someCountVal + 2 %}

                </div>
                <div class="fints fints_billet">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(someCountVal, 2) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_billet {% if someCountValue == 1 %}hide-on-1000{% endif %}">
                            <div class="fint__image fint__image_billet">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_billet">
                                <div class="fint__title fint__title_billet">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = 0 %}
                    {% endfor %}
                    {% set someCountVal = someCountVal + 2 %}

                </div>
            </div>
        </section>

        <section class="tail-fragment tail-fragment_white decorated-bottom  second-repeat-row">
            <div class="center-wrapper" id="load_main">
                <div class="fints-line fints-line_of-4">
                    {% set someCountValue = 1 %}
                    {% for item in teasers | filter((v, k) => v.id != article.id) | slice(someCountVal, 4) %}
                        <a href="{{ teasers_click_counter_link(item, article, {'pageType': 'short'})}}" class="fint fint_vertical fint_bordered {% if someCountValue == 1 %}hide-on-1000{% elseif someCountValue == 2 %}hide-on-560{% endif %}">
                            <div class="fint__image fint__image_vertical">
                                <img src="{{ generate_preview_link(item.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" alt="">
                            </div>
                            <div class="fint__content fint__content_vertical">
                                <div class="fint__title fint__title_vertical">{{ get_city(item.text, city) | raw }}</div>
                            </div>
                        </a>
                        {% set someCountValue = someCountValue + 1 %}
                    {% endfor %}
                    {% set someCountVal = someCountVal + 4 %}
                </div>
            </div>
        </section>
    {% endfor %}
        <div class="fints-line">
            <p align="center" id="loading" style="display: none; margin-left: auto; margin-right: auto">
                <img src="{{ asset('assets/theme_1/static/images/load.gif') }}" alt="Loading…">
            </p>
        </div>
         <div class="third">
             <input id="article_id" type="hidden" value="{{ article.id }}"/>
             <div class="item-fourth" id="place_for_teasers">
                </div>
         </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/front/js/theme_2/short_news_script.js') }}?v={{ get_env('JS_VERSION') }}"></script>
{% endblock %}