{% extends 'dashboard/templates/list.html.twig' %}
{% block title %}Партнерки{% endblock %}
{% block bulk_actions_checkobx %}{% endblock %}

{% block table_body %}
    {% for partner in partners %}
        <tr role="row" class="odd">
            <td>{{ partner.id }}</td>
            <td>{{ partner.title }}</td>
            {% if (partner.postback | slice (0, 8) == 'https://') or (partner.postback | slice (0, 7) == 'http://') %}
                <td>{{ partner.postback }}</td>
            {% else %}
                <td>https://{{ partner.postback }}</td>
            {% endif %}
            <td style="width: 20%; text-align: center">
                {% block action_buttons %}
                    <div class="btn-group">
                        {% if partner.user.id == app.user.id %}
                            <a href="{{ path('mediabuyer_dashboard.partner_edit', {
                                'id': partner.id
                            }) }}" role="button" class="btn btn-info">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="#" role="button"
                               data-delete-url="{{ path('mediabuyer_dashboard.partner_delete', {
                                   'id': partner.id
                               }) }}"
                               class="btn btn-danger btn-delete">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endblock %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}