{% extends 'front/theme_3/base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/theme_4/static/css/for-short.css') }}?v={{ get_env('CSS_VERSION') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div id="grid" class="news col" data-new="0" style="position: relative;">
            <div class="short-essential-block">
                {% set tasers_length = teasers | length %}
                {% set middle_value = tasers_length / 2%}
                <div class="teasers-first-col">
                    <div id="news" class="news news-short news-for-full">
                        <input id="newsId" type="hidden" value="7936">
                        <a href="{{ path('front.counting_news_short_to_full', {
                            'news': article.id
                        }) }}" target="_blank" class="news-wrapper">
                            <div class="news-header" style="background: rgb(59, 37, 35);">
                                <div class="news-image">
                                    <div class="background" style="background: linear-gradient(0deg, rgb(59, 37, 35) 0px, transparent 100%);"></div>
                                    <img src="{{ news_cropped_image_link }}">
                                </div>
                                <div class="news-title-wrapper">
                                    <div class="news-info" style="color: #fafafa;">
                                        <div class="category" style="color: #fafafa; background: rgb(59, 37, 35);">
                                            {% for i in article.categories %}
                                                {{ i }},
                                            {% endfor %}
                                        </div>
                                        <span style="display: none" class="date_day">{{ article.createdAt | date("d") }}</span>
                                        <span style="display: none" class="date_month">{{ article.createdAt | date("m") }}</span>
                                        <div class="news-date"></div>
                                    </div>
                                    <h1 class="news-title" style="color: #fafafa;">{{ article.title }}</h1>
                                    <div class="anounce" style="display: none;">{{ article.shortDescription }}</div>
                                    <div class="news-link">
                                        <button class="button" style="background: #fafafa; color: #212121">Читать далее</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="additional-teasers">
                        <div class="additional-first-col">

                        </div>
                        <div class="additional-second-col">

                        </div>
                    </div>
                </div>
                <div class="teasers-second-col">
                    {% for teaser in teasers | slice(0, middle_value)%}
                        <div class="grid-item item item-product">
                            <a class="teaser teaser-product" href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'short'})}}" target="_blank" style="background: rgb(141, 96, 73);">
                                <div class="teaser-image">
                                    <div class="background" style="background: linear-gradient(0deg, rgb(141, 96, 73) 0px, transparent 100%);"></div>
                                    <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" width="492" height="328">
                                    <div class="category" style="color: #fafafa; background: rgb(141, 96, 73);">
                                        Лучшее
                                    </div>
                                </div>
                                <div class="teaser-title" style="color: #fafafa;">{{ get_city(teaser.text, city) | raw }}</div>
                                <div class="button" style="display: none;">
                                    <div class="read-more">
                                        Подробнее
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="teasers-third-col">
                    {% for teaser in teasers | slice(middle_value)%}
                        <div class="grid-item item item-product">
                            <a class="teaser teaser-product" href="{{ teasers_click_counter_link(teaser, article, {'pageType': 'short'})}}" target="_blank" style="background: rgb(141, 96, 73);">
                                <div class="teaser-image">
                                    <div class="background" style="background: linear-gradient(0deg, rgb(141, 96, 73) 0px, transparent 100%);"></div>
                                    <img src="{{ generate_preview_link(teaser.fileName, 'teaser',  width_teaser_block, height_teaser_block) }}" width="492" height="328">
                                    <div class="category" style="color: #fafafa; background: rgb(141, 96, 73);">
                                        Лучшее
                                    </div>
                                </div>
                                <div class="teaser-title" style="color: #fafafa;">{{ get_city(teaser.text, city) | raw }}</div>
                                <div class="button" style="display: none;">
                                    <div class="read-more">
                                        Подробнее
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="third">
            <input id="article_id" type="hidden" value="{{ article.id }}"/>
            <div class="item-fourth" id="place_for_teasers">
            </div>
        </div>
        <div class="news row" style="position: relative;">
            <p align="center" id="loading" style="display: none; margin-left: auto; margin-right: auto">
                <img src="{{ asset('assets/theme_1/static/images/load.gif') }}" alt="Loading…">
            </p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/theme_4/static/js/num-side-teasers.js') }}?v={{ get_env('JS_VERSION') }}"></script>
    <script src="{{ asset('assets/front/js/theme_4/both_for_full_and_short_news_script.js') }}?v={{ get_env('JS_VERSION') }}"></script>
{% endblock %}